* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgba(218, 140, 166, 0.5);
}

.slider-container {
    margin: 50px auto;
    width: 500px;
    border: 1px solid rgba(0, 0, 0, 0.171);
    border-radius: 1rem;
    min-height: 300px;
    background-color: rgba(23, 15, 70, 0.384);
    padding-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.329) 5px 4px 10px;
}

.inner-slider-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
}


.sliders {
    width: 270px;
    -webkit-appearance: none;
    height: 7px;
    border-radius: 8px;
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.329) 5px 0 5px;
    cursor: pointer;
}

.window-1 {
    margin: auto;
    margin-top: 30px;
    width: 300px;
    height: 300px;
    background-color: rgba(218, 140, 166, 0.5);
    border-radius: 50%;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.76);
}

.color-name {
    margin-right: 20px;
    text-shadow: rgba(0, 0, 0, 0.685) 1px 0 5px;
}

.slider-value {
    margin-left: 5%;
    margin-right: 5%;
    text-shadow: rgba(0, 0, 0, 0.685) 1px 0 5px;
}

#red-slider {
    background-color: rgba(218, 0, 0, 1);
}

#green-slider {
    background-color: rgba(0, 140, 0, 1);
}

#blue-slider {
    background-color: rgba(0, 0, 166, 1);
}

#opacity-slider {
    background-color: rgba(0, 0, 0, 0.5);
    width: 270px;
}

#red-name {
    color: rgba(218, 0, 0, 1);
}

#green-name {
    color: rgba(0, 140, 0, 1);
}

#blue-name {
    color: rgba(0, 0, 166, 1);
}


#red-slider-val {
    color: rgba(218, 0, 0, 1);
}

#green-slider-val {
    color: rgba(0, 140, 0, 1);
}

#blue-slider-val {
    color: rgba(0, 0, 166, 1);
}

#opacity-name, #opacity-slider-val {
    color: rgba(0, 0, 0, 0.5);
}

.choose-button {
    display: flex;
    justify-content: center;
}

.save-color-button {
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 70%, #4b84ff 85%, #00C0FF 100%);
    animation: rainbow-move 10s ease-in-out infinite;
    border-radius: 2rem;
    font-size: 15px;
    margin-bottom: 20px;
    text-shadow:rgba(150, 37, 144, 0.945) 2px 0 1px;
    color: rgba(255, 255, 255, 0.842);
    cursor: pointer;
}

@keyframes rainbow-move {
    0% {
        background-position: -10vw 0;
    }

    50% {
        background-position: 40vw 0;
    }

    100% {
        background-position: -10vw 0;
    }
    

}

.click-to-reveal {
    margin: -30px auto auto auto;
    max-width: 500px;
    text-shadow: black 2px 2px 5px;
    transition: transform 0.5s ease-out;
}

.click-to-reveal p {
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin: 0;
}

.click-to-reveal:hover {
    cursor: pointer;
    transform: scale(1.25);
}

.store-color-container {
    margin: 50px auto 50px 30px;
    width: 300px;
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-image: linear-gradient(90deg, rgba(78, 165, 177, 0.774), rgb(170, 128, 190), rgba(190, 223, 99, 0.432), rgba(78, 165, 177, 0.774));
    background-size: 150%;
    animation: bgGradient 5s ease-in-out infinite;
    border-radius: 2rem;
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.store-color-container::-webkit-scrollbar {
    display: none;
}

.selected-colors {
    display: flex;
    align-items: center;
    margin: 10px auto auto auto;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(33, 30, 63, 0.877);
    color: white;
    min-width: 150px;
    max-width: 250px;
    border-radius: 3rem;
    flex-wrap: wrap;
}

@keyframes bgGradient {
    0% {
        background-position: -30vw 0;
    }

    50% {
        background-position: 70vw 0;
    }

    100% {
        background-position: -30vw 0;
    }

}

.middle-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 370px;
}

.color-icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.color-style {
    margin: 0;
}

.remove-icon {
    height: 16px;
    width: 16px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

.remove-icon:hover {
    opacity: 0.6;
}